$background-image-url: url('../img/espejo.jpg');
$font-family: Arial, sans-serif;
$video-width: 320px; // Ancho deseado para los videos en vista celular


.imagen-redondeada {
    border-radius: 6px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.insta {
  height: 20px;
  margin-left: 5px;
}

.fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: $background-image-url;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: blanchedalmond;
    padding: 20px;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      max-width: 500px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
}

.banner {
  width: 100%;
  max-height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: grey;
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .banner img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
  }

  .banner,
  .text-overlay,
  .insta,
  .fondo,
  .feature {
    display: block;
    text-align: center;
    margin: auto;

    .text-overlay {
      display: block;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      color: white;
      width: 100%;
    }

    .insta {
      text-align: left;
      margin: 5px auto;
    }
  }
}

.recuadro {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    text-align: center;

    &.nombre {
        font-weight: bold;
        margin-bottom: 5px;
    }
    color: #e9e5ae;
    font-size: 15px;
    font-weight: 900;
}

.fondopromo {
    /* Estilos para el fondo */
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ccc;
    


    .text-overlaypromo {
        /* Estilos para el contenido superpuesto */
        display: flex;
        flex-direction: row; /* Por defecto, horizontal en escritorio */
        flex-wrap: wrap;
        gap: 20px;

        .item {
            flex: 0 0 calc(33.33% - 20px); /* Tres columnas por fila */
            text-align: center;

            p {
                margin-top: 10px;
            }
        }
    }

    /* Cambio a disposición vertical en versión móvil */
    @media (max-width: 768px) {
        .text-overlaypromo {
            flex-direction: column;
        }
    }
}

.custom-page {
    font-family: $font-family;
    text-align: center;
    background-color: #ccc;
  
    #encabezado {
      margin-top: 20px;
    }
  
    .video-container {
      margin: 20px auto;
      max-width: 100%;
  
      h2 {
        margin-bottom: 10px;
      }
  
      iframe {
        width: $video-width;
        height: calc(#{$video-width} * 0.5625); // Mantener relación de aspecto 16:9
      }
    }
}

.enlaceyoutube {
    text-decoration: none; 
    color: red; 
}

.estilohistoria {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 768px) {
  .estilohistoria {
      font-size: 16px; /* Ajusta el tamaño del texto para móviles */
  }
}

.centered-text {
  text-align: center;
  background-color: #ccc;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 30px;
}